@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    margin: 50px auto;
    padding: 20px;
    background-color: #3333;
    display: flex;
    align-items: start;
    justify-content: center;
    color: #ebebeb;
}

.container {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.2);
}

#img {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
    display: block;
    border-radius: 15px;
}

h2 {
    font-size: 1.7rem;
    margin: 0 0 10px 0;
}


#description {
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 15px;
}

#author {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 10px;
}
